p {
    font-size: 30px;
    color: aquamarine;
}

h1 {
    color: darkmagenta;
}

@media screen and (max-width: 480px) {
    p {
        font-size: 20px;
        color: magenta;
    }
}

@media screen and (min-width: 700px) {
    h1 {
        color:cadetblue;
    }
}

